%% -*- erlang -*-
{erl_opts, [debug_info, {i, "include"}]}.
{deps, [
	{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
	{jiffy, ".*", {git, "git://github.com/davisp/jiffy.git", {tag, "0.14.11"}}}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
