%% -*- erlang -*-
{erl_opts, [debug_info, {i, "include"}]}.
{deps, [
	{mochiweb, ".*", {git, "git://github.com/mochi/mochiweb.git", {branch, "master"}}},
	{jsx, {git, "https://github.com/talentdeficit/jsx.git", {branch, "v2.8.0"}}}]}.
{cover_enabled, true}.
{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.
